/* Estilos Gerais */
body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Alterado para min-height para evitar cortes em telas pequenas */
    margin: 0;
}

/* Estilo dos Botões */
button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    transition: background-color 0.3s; /* Deixa o efeito de hover mais suave */
}

button:hover {
    background-color: #4e820e;
}

/* Mecânica de Troca de Passos */
.passo {
    display: none; /* Esconde todos os passos por padrão */
}

.passo.ativo {
    display: block; /* Só mostra o passo que tiver a classe .ativo */
}

/* Container Principal */
main {
    text-align: center;
    max-width: 500px; /* Definindo uma largura máxima para melhor leitura */
    width: 90%;
}

/* Ajuste das Imagens */
img {
    max-width: 100%; /* Garante que a imagem nunca seja maior que o container */
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}